body{
    background-image: url(../componentes/imagen/ESCOM1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#Yo{ z-index:1; width:40%; height:100%;display: block;margin: auto;}
#ESCOM{z-index:1; width:70%; height:20%;display: block;margin: auto;}
#Musica{z-index:1; width:70%; height:40%;display: block;margin: auto;}
#Series{z-index:1; width:70%; height:40%;display: block;margin: auto;}
#Video{z-index:1; width:70%; height:40%;display: block;margin: auto;}
#GTR{z-index:1; width:70%; height:40%;display: block;margin: auto;}
.TKD{z-index:1; width:47%; height:30%;margin: auto;padding-left: 11%;}
#Contacto1{
    height:auto;
    width:auto;

}